<div>

<h2>Create a new drone</h2>

<form action="/drones/create" method="post">

    

        <label for="name">Name</label>
        <input type="text" name="name" >
        
        <br>

        <label for="propellers">Propeller</label>
        <input type="text" name="propellers" >
        <br>

        <label for="maxSpeed">MaxSpeed</label>
        <input type="text" name="maxSpeed" >
        <br>    

        <button>Nuevo Dron</button>


</form>

</div>